cachelib==0.1.1
click==7.1.2
entrypoints==0.3
flake8==3.8.3
Flask==1.1.2
Flask-Caching==1.9.0
Flask-Session==0.3.2
Flask-Versioned==0.9.4.post20101221
gevent==20.6.2
greenlet==0.4.16
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==2.0.1
psutil==5.7.2
pycodestyle==2.6.0
pyflakes==2.2.0
setuptools==49.2.1
Werkzeug==1.0.1
wheel==0.34.2
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
